NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=hotelapi
DATABASE_USER=hotelapi
DATABASE_PASSWORD=hotelapi_password
DATABASE_URL=postgres://hotelapi:hotelapi_password@localhost:5432/hotelapi

TYPEORM_LOGGING=false
